body{
  margin: 0;
  background-image: url("./pages/images/seamless-wood3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  text-align: center;
}

hr {
  margin: 10px;
  opacity: 0.7;
}

div.container {
  margin: auto;
  width: 75%;
  height: auto;
  background-color: #F9FBFF;
  padding-bottom: 15px;
  box-shadow: 5px 10px 5px 8px rgba(0, 0, 0, 0.3);
}

.container h1, h2, h3 {
  text-align: center;
  padding-top: 10px;
}

.container p{
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
}

.container br {
  margin-bottom: 15px;
}

.resume-top{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resume-top img{
  width: 100px;
  height: auto;
}

.resume-bold{
  font-weight: bold;
  font-size: 16px;
}

.resume-contact{
  font-size: 14px;
  font-family: "Courier New";;
}

.resume-contact br{
  margin-bottom: 3px;
}

.resume-bottom ul{
  text-align: justify;
  margin: 5px;
  font-size: 12px;
}

img {
  display: inline;
  width: auto;
  height: 300px;
    @media screen and (max-width: 768px){
      width: 200px;
      height: auto;
    }

}

div.canvas-container{
  min-width: 50%;
  background-color: hotpink;
}

.gallery-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.gallery-content{
  width: 250px;
  height: auto;
  padding: 5px;
  margin: 20px;
}

.gallery-content img{
  height: auto;
  width: 250px;
  padding: 10px;
}